#include <windows.h>
#include "Defines.h"
#include "Resource.h"

#define _T(x) x

IDI_VIRTUAWIN ICON icons/virtuawin.ico
IDI_ST_DIS_1  ICON icons/st_dis_1.ico
IDI_ST_NW_1   ICON icons/st_nw_1.ico
IDI_ST_NE_1   ICON icons/st_ne_1.ico
IDI_ST_SW_1   ICON icons/st_sw_1.ico
IDI_ST_SE_1   ICON icons/st_se_1.ico
IDI_ST_DIS_2  ICON icons/st_dis_2.ico
IDI_ST_NW_2   ICON icons/st_nw_2.ico
IDI_ST_NE_2   ICON icons/st_ne_2.ico
IDI_ST_SW_2   ICON icons/st_sw_2.ico
IDI_ST_SE_2   ICON icons/st_se_2.ico
IDI_ST_0      ICON icons/st_0.ico
IDI_ST_1      ICON icons/st_1.ico
IDI_ST_2      ICON icons/st_2.ico
IDI_ST_3      ICON icons/st_3.ico
IDI_ST_4      ICON icons/st_4.ico
IDI_ST_5      ICON icons/st_5.ico
IDI_ST_6      ICON icons/st_6.ico
IDI_ST_7      ICON icons/st_7.ico
IDI_ST_8      ICON icons/st_8.ico
IDI_ST_9      ICON icons/st_9.ico
IDI_CHECK     ICON icons/check.ico

IDD_PROPPAGE_GENERAL DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "XSpin", IDC_SLIDERX, "msctls_updown32", 0x0 | WS_CLIPSIBLINGS |
                    UDS_SETBUDDYINT, 10, 16, 0, 15
    CONTROL         "YSpin", IDC_SLIDERY, "msctls_updown32",  0x0 | WS_CLIPSIBLINGS |
                    UDS_SETBUDDYINT, 66, 16, 0, 15
    EDITTEXT        IDC_DESKX, 26, 19, 8, 8, ES_AUTOHSCROLL | ES_RIGHT |
                    ES_READONLY | NOT WS_BORDER | WS_GROUP | NOT WS_TABSTOP
    LTEXT           "wide by", IDC_STATIC, 36, 19, 24, 8
    EDITTEXT        IDC_DESKY, 82, 19, 8, 8, ES_AUTOHSCROLL | ES_RIGHT |
                    ES_READONLY | NOT WS_BORDER | WS_GROUP | NOT WS_TABSTOP
    LTEXT           "deep", IDC_STATIC, 92, 19, 16, 8
    GROUPBOX        "Desktop Layout", IDC_STATIC, 4, 5, 202, 30

    GROUPBOX        "Desktop Navigation", IDC_STATIC, 4, 38, 202, 87
    AUTOCHECKBOX    "Enable desktop wrapping", IDC_DESKCYCLE, 10, 49, 100, 10
    AUTOCHECKBOX    "Enable cursor key desktop navigation", IDC_KEYS, 10, 60, 135, 10
    LTEXT           "Modifier:", IDC_STATIC, 22, 71, 30, 8
    AUTOCHECKBOX    "Shift", IDC_SHIFT, 55, 71, 34, 10
    AUTOCHECKBOX    "Ctrl", IDC_CTRL, 90, 71, 30, 10
    AUTOCHECKBOX    "Alt", IDC_ALT, 120, 71, 30, 10
    AUTOCHECKBOX    "WIN", IDC_WIN, 150, 71, 30, 10
    AUTOCHECKBOX    "Enable desktop cycling hotkeys", IDC_CYCLINGKEYS, 10, 82, 130, 10
    LTEXT           "Next", IDC_STATIC, 22, 96, 33, 8
    CONTROL         "UpHot",   IDC_HOTCYCLEUP, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 94, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTCYCLEUPW, 133, 96, 47, 9, 0x0020
    LTEXT           "Previous", IDC_STATIC, 22, 110, 33, 8
    CONTROL         "DownHot", IDC_HOTCYCLEDOWN, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 108, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTCYCLEDOWNW, 133, 110, 47, 9, 0x0020

    GROUPBOX        "Desktop Properties", IDC_STATIC, 4, 128, 202, 54
    LTEXT           "", IDC_DESKTOPLBL, 10, 139, 135, 10
    PUSHBUTTON      "&Next", IDC_DESKTOPBTN, 164, 139, 36, 14
    LTEXT           "Name", IDC_STATIC, 22, 153, 33, 8
    EDITTEXT        IDC_DESKTOPNAME, 55, 151, 76, 12, ES_LEFT | ES_AUTOHSCROLL
    LTEXT           "Hotkey", IDC_STATIC, 22, 167, 33, 8
    CONTROL         "DeskHot", IDC_HOTDESK, "msctls_hotkey32", 0x0 | WS_BORDER | WS_TABSTOP, 55, 165, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTDESKW, 133, 167, 47, 9, 0x0020
END

IDD_PROPPAGE_MOUSE DIALOGEX 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Mouse Support", IDC_STATIC, 4, 5, 202, 161
    AUTOCHECKBOX    "Enable mouse desktop changing", IDC_ENABLEMOUSE, 10, 16, 120, 10
    LTEXT           "Delay before changing desktop:", IDC_STATIC, 22, 27, 120, 8
    CONTROL         "Slider1", IDC_SLIDER, "msctls_trackbar32", 0x19 |
                    WS_TABSTOP, 34, 38, 80, 15
    EDITTEXT        IDC_TIME, 125, 40, 20, 12, ES_RIGHT | ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "ms", IDC_STATIC, 145, 40, 35, 10
    AUTOCHECKBOX    "Enable modifier key control", IDC_KEYCONTROL, 22, 54, 110, 10
    LTEXT           "Modifier:", IDC_STATIC, 34, 65, 30, 8
    AUTOCHECKBOX    "Shift", IDC_MSHIFT, 67, 65, 34, 10
    AUTOCHECKBOX    "Ctrl", IDC_MCTRL, 102, 65, 30, 10
    AUTOCHECKBOX    "Alt", IDC_MALT, 132, 65, 29, 10
    AUTOCHECKBOX    "Enable desktop edge knocking", IDC_KNOCKMODE1, 22, 78, 125, 10
    AUTOCHECKBOX    "Always required", IDC_KNOCKMODE2, 34, 89, 90, 10

    LTEXT           "Mouse jump length", IDC_STATIC, 22, 105, 60, 8, 0
    EDITTEXT        IDC_JUMP, 87, 103, 20, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Enable mouse warping", IDC_MOUSEWRAP, 22, 119, 90, 10
    AUTOCHECKBOX    "Enable middle button desktop changing", IDC_MOUSEMDCHNG, 10, 130, 160, 10
    AUTOCHECKBOX    "Enable middle button window list activation", IDC_MOUSEWLIST, 10, 141, 160, 10
    AUTOCHECKBOX    "Enable middle button window menu activation", IDC_MOUSEWMENU, 10, 152, 160, 10
END

IDD_PROPPAGE_MISC DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Desktop State Handling", IDC_STATIC,    4, 5, 202, 69
    AUTOCHECKBOX    "Use desktop assignment", IDC_USEASSIGN, 10, 16, 90, 10
    AUTOCHECKBOX    "Assign only first window", IDC_FIRSTONLY, 22, 27, 90, 10
    AUTOCHECKBOX    "Assign window immediately", IDC_ASSIGNWINNOW, 22, 38, 100, 10
    AUTOCHECKBOX    "Save assignment on exit", IDC_SAVEEXITSTATE, 10, 49, 90, 10
    AUTOCHECKBOX    "Save sticky on exit", IDC_STICKYSAVE, 10, 60, 80, 10
    PUSHBUTTON      "Save Assignment", IDC_SAVENOW,  140, 21, 60, 14
    PUSHBUTTON      "Save Sticky", IDC_SAVESTICKY,   140, 51, 60, 14

    GROUPBOX        "Window List Contents", IDC_STATIC, 4, 77, 202, 36
    AUTOCHECKBOX    "Access", IDC_MENUACCESS,  10, 88, 40, 10
    AUTOCHECKBOX    "Assign", IDC_MENUASSIGN,  55, 88, 40, 10
    AUTOCHECKBOX    "Show",   IDC_MENUSHOW,   100, 88, 40, 10
    AUTOCHECKBOX    "Sticky", IDC_MENUSTICKY, 145, 88, 40, 10
    AUTOCHECKBOX    "Enable compact list", IDC_COMPACTMENU, 10, 99, 90, 10

    GROUPBOX        "Hotkeys", IDC_STATIC, 4, 116, 202, 115
    AUTOCHECKBOX    "Enable window list hotkey", IDC_HOTWLISTEN, 10, 127, 120, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 141, 32, 10
    CONTROL         "HotWList", IDC_HOTWLIST, "msctls_hotkey32", 0x0 | WS_BORDER |
                    WS_TABSTOP, 55, 139, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTWLISTW, 133, 141, 47, 9, 0x0020
    AUTOCHECKBOX    "Enable window menu hotkey", IDC_HOTWMENUEN, 10, 152, 130, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 166, 32, 10
    CONTROL         "HotWMenu", IDC_HOTWMENU, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 164, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTWMENUW, 133, 166, 47, 9, 0x0020
    AUTOCHECKBOX    "Enable dismiss window hotkey", IDC_HOTDISMISSEN, 10, 177, 130, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 191, 32, 10
    CONTROL         "DismissHot", IDC_HOTDISMISS, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 189, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTDISMISSW, 133, 191, 47, 9, 0x0020
    AUTOCHECKBOX    "Enable sticky toggle hotkey", IDC_HOTSTICKYEN, 10, 202, 130, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 216, 32, 10
    CONTROL         "StickyHot", IDC_HOTSTICKY, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 214, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTSTICKYW, 133, 216, 47, 9, 0x0020
END

IDD_PROPPAGE_EXPERT DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Advanced Options", IDC_STATIC, 4, 5, 202, 121
    LTEXT           "On desktop change preserve:", IDC_STATIC,  10, 16, 120, 10
    COMBOBOX        IDC_PRESORDER, 22, 27, 120, 45, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "On hidden window activation:", IDC_STATIC, 10, 42, 120, 10
    COMBOBOX        IDC_HIDWINACT, 22, 53, 120, 56, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX    "Release focus on desktop change", IDC_FOCUS,                10,  68, 125, 10
    AUTOCHECKBOX    "Hide minimized windows on desktop change", IDC_MINIMIZED,   10,  79, 155, 10
    AUTOCHECKBOX    "Invert Up/Down", IDC_INVERTY,                               10,  90, 70,  10
    AUTOCHECKBOX    "Hide system tray icon", IDC_DISPLAYICON,                    10,  101, 80,  10
    AUTOCHECKBOX    "Remember sticky state throughout session", IDC_PERMSTICKY,  10,  112, 150, 10

    GROUPBOX        "Workarounds", IDC_STATIC, 4, 129, 202, 58
    AUTOCHECKBOX    "Force refresh after desktop change", IDC_REFRESH,           10, 140, 130, 10
    AUTOCHECKBOX    "Enable taskbar detection", IDC_TASKBARDETECT,               10, 151, 100, 10
    AUTOCHECKBOX    "Enable alternative hiding method for tricky windows", IDC_TRICKYSUPPORT, 10, 162, 180, 10
    AUTOCHECKBOX    "Write events to virtuawin.log", IDC_DEBUGLOGGING,           10, 173, 130, 10

    PUSHBUTTON      "Explore Config",  IDC_EXPLORECNFG, 140, 230, 60, 14
END

IDD_PROPPAGE_ABOUT DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        vwVIRTUAWIN_NAME_VERSION, IDC_STATIC, 4, 5, 202, 91, 0x0300
    ICON            IDI_VIRTUAWIN, IDC_STATIC, 95, 16, 20, 20
    LTEXT           "Copyright (c) 1999-2005 Johan Piculell", IDC_STATIC, 35, 40, 150, 8
    LTEXT           "Copyright (c) 2006-2007 VirtuaWin", IDC_STATIC, 35, 50, 150, 8
    LTEXT           vwVIRTUAWIN_EMAIL, IDC_MAILTO, 50, 60, 190, 8, 0x0100
    LTEXT           "Latest version, info, source, etc. visit:", IDC_STATIC, 35, 72, 150, 8
    LTEXT           "http://virtuawin.sourceforge.net/", IDC_HTTP, 50, 82, 190, 10, 0x0100
    GROUPBOX        "License", IDC_STATIC, 4, 99, 202, 140, 0x0300
    EDITTEXT        IDC_LICENSE, 10, 110, 190, 125, ES_MULTILINE | ES_READONLY |NOT WS_TABSTOP | NOT WS_BORDER
END

IDD_PROPPAGE_MODULES DIALOG 0, 0, 210, 250
STYLE WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Module List", IDC_STATIC, 4, 5, 202, 133
    LISTBOX         IDC_MODLIST, 10, 16, 190, 100, LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_MODCONFIG, 10, 120, 40, 14
    PUSHBUTTON      "Reload",    IDC_MODRELOAD, 55, 120, 40, 14
    PUSHBUTTON      "Enable/Disable",  IDC_MODDISABLE, 100, 120, 60, 14
END

IDD_WINDOWINFODIALOG DIALOG 79, 25, 250, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "VirtuaWin - Window Info"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_VIRTUAWIN, IDC_STATIC, 10, 10, 20, 20
    EDITTEXT        IDC_WID_INFO, 50, 10, 200, 140, ES_MULTILINE | ES_READONLY |NOT WS_TABSTOP | NOT WS_BORDER
    DEFPUSHBUTTON   "OK", IDCANCEL,  105, 160, 40, 14
END
