#include <windows.h>
#include "Defines.h"
#include "Resource.h"

107 ICON icons/virtuawin.ico
108 ICON icons/st_dis_1.ico
109 ICON icons/st_nw_1.ico
110 ICON icons/st_ne_1.ico
111 ICON icons/st_sw_1.ico
112 ICON icons/st_se_1.ico
113 ICON icons/st_dis_2.ico
114 ICON icons/st_nw_2.ico
115 ICON icons/st_ne_2.ico
116 ICON icons/st_sw_2.ico
117 ICON icons/st_se_2.ico
118 ICON icons/st_0.ico
119 ICON icons/st_1.ico
120 ICON icons/st_2.ico
121 ICON icons/st_3.ico
122 ICON icons/st_4.ico
123 ICON icons/st_5.ico
124 ICON icons/st_6.ico
125 ICON icons/st_7.ico
126 ICON icons/st_8.ico
127 ICON icons/st_9.ico

IDD_PROPPAGE_GENERAL DIALOG 0, 0, 150, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "XSpin", IDC_SLIDERX, "msctls_updown32", 0x0 | WS_CLIPSIBLINGS |
                    UDS_SETBUDDYINT, 10, 16, 0, 15
    CONTROL         "YSpin", IDC_SLIDERY, "msctls_updown32",  0x0 | WS_CLIPSIBLINGS |
                    UDS_SETBUDDYINT, 64, 16, 0, 15
    EDITTEXT        IDC_DESKX, 26, 19, 8, 8, ES_LEFT | ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER | WS_GROUP | NOT WS_TABSTOP
    LTEXT           "wide by", IDC_STATIC, 34, 19, 24, 8
    EDITTEXT        IDC_DESKY, 78, 19, 8, 8, ES_LEFT | ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER | WS_GROUP | NOT WS_TABSTOP
    LTEXT           "deep", IDC_STATIC, 86, 19, 16, 8
    GROUPBOX        "Desktop Layout", IDC_STATIC, 4, 5, 202, 30

    GROUPBOX        "Cursor Keys", IDC_STATIC, 4, 38, 202, 37
    AUTOCHECKBOX    "Enable cursor key desktop navigation", IDC_KEYS, 10, 49, 135, 10
    LTEXT           "Modifier", IDC_STATIC, 22, 61, 30, 8
    AUTOCHECKBOX    "Shift", IDC_SHIFT, 55, 61, 34, 10
    AUTOCHECKBOX    "Ctrl", IDC_CTRL, 90, 61, 30, 10
    AUTOCHECKBOX    "Alt", IDC_ALT, 120, 61, 30, 10
    AUTOCHECKBOX    "WIN", IDC_WIN, 150, 61, 30, 10

    GROUPBOX        "Desktop Cycling", IDC_STATIC, 4, 78, 202, 64
    AUTOCHECKBOX    "Enable desktop wrapping", IDC_DESKCYCLE, 10, 89, 100, 10
    AUTOCHECKBOX    "Enable desktop cycling hotkeys", IDC_CYCLINGKEYS, 10, 100, 130, 10
    LTEXT           "Next", IDC_STATIC, 22, 114, 33, 8
    CONTROL         "UpHot",   IDC_HOTCYCLEUP, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 112, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTCYCLEUPW, 133, 114, 47, 9, 0x0020
    LTEXT           "Previous", IDC_STATIC, 22, 127, 33, 8
    CONTROL         "DownHot", IDC_HOTCYCLEDOWN, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 125, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTCYCLEDOWNW, 133, 127, 47, 9, 0x0020

    GROUPBOX        "Direct Desktop Access", IDC_STATIC, 4, 145, 202, 40
    AUTOCHECKBOX    "Enable direct desktop access hotkeys", IDC_HOTKEYS, 10, 156, 135, 10
    PUSHBUTTON      "Desk 1", IDC_HOTDESKBTN, 16, 167, 36, 14
    CONTROL         "DeskHot", IDC_HOTDESK, "msctls_hotkey32", 0x0 | WS_BORDER |
                    WS_TABSTOP, 55, 168, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTDESKW, 133, 170, 47, 9, 0x0020
END

IDD_PROPPAGE_MOUSE DIALOGEX 0, 0, 150, 150
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Mouse Support", IDC_STATIC, 4, 5, 202, 103
    AUTOCHECKBOX    "Enable mouse support", IDC_MOUSWARP, 10, 16, 85, 10
    LTEXT           "Delay", IDC_STATIC, 22, 29, 18, 8
    CONTROL         "Slider1", IDC_SLIDER, "msctls_trackbar32", 0x19 |
                    WS_TABSTOP, 50, 27, 70, 15
    EDITTEXT        IDC_TIME, 125, 29, 20, 12, ES_RIGHT | ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "ms", IDC_STATIC, 145, 29, 35, 10
    LTEXT           "Mouse jump length", IDC_STATIC, 22, 45, 60, 8, 0
    EDITTEXT        IDC_JUMP, 87, 43, 20, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Taskbar warp", IDC_TASKBAR, 22, 59, 59, 10
    AUTOCHECKBOX    "No mouse move", IDC_MOUSEWRAP, 22, 70, 67, 10
    AUTOCHECKBOX    "Use modifier key control", IDC_KEYCONTROL, 10, 82, 65, 10
    LTEXT           "Modifier", IDC_STATIC, 22, 94, 30, 8
    AUTOCHECKBOX    "Shift", IDC_MSHIFT, 55, 94, 34, 10
    AUTOCHECKBOX    "Ctrl", IDC_MCTRL, 90, 94, 30, 10
    AUTOCHECKBOX    "Alt", IDC_MALT, 120, 94, 29, 10
END

IDD_PROPPAGE_MISC DIALOG 0, 0, 150, 150
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Desktop State Handling", IDC_STATIC,    4, 5, 202, 69
    AUTOCHECKBOX    "Use desktop assignment", IDC_USEASSIGN, 10, 16, 90, 10
    AUTOCHECKBOX    "Assign only first window", IDC_FIRSTONLY, 22, 27, 90, 10
    AUTOCHECKBOX    "Assign window immediately", IDC_ASSIGNWINNOW, 22, 38, 100, 10
    AUTOCHECKBOX    "Save assignment on exit", IDC_SAVEEXITSTATE, 10, 49, 90, 10
    AUTOCHECKBOX    "Save sticky on exit", IDC_STICKYSAVE, 10, 60, 80, 10
    PUSHBUTTON      "Save Assignment", IDC_SAVENOW,  140, 21, 60, 14
    PUSHBUTTON      "Save Sticky", IDC_SAVESTICKY,   140, 51, 60, 14

    GROUPBOX        "Window Menu Contents", IDC_STATIC, 4, 77, 202, 25
    AUTOCHECKBOX    "Sticky toggle", IDC_MENUSTICKY, 10, 88, 55, 10
    AUTOCHECKBOX    "Direct access", IDC_MENUACCESS, 75, 88, 55, 10
    AUTOCHECKBOX    "Assign",        IDC_MENUASSIGN, 140, 88, 45, 10

    GROUPBOX        "Hotkeys", IDC_STATIC, 4, 105, 202, 90
    AUTOCHECKBOX    "Enable window menu hotkey", IDC_HOTMENUEN, 10, 116, 120, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 130, 32, 10
    CONTROL         "HotMenu", IDC_HOTMENU, "msctls_hotkey32", 0x0 | WS_BORDER |
                    WS_TABSTOP, 55, 128, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTMENUW, 133, 130, 47, 9, 0x0020
    AUTOCHECKBOX    "Enable sticky toggle hotkey", IDC_HOTSTICKYEN, 10, 141, 130, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 155, 32, 10
    CONTROL         "StickyHot", IDC_HOTSTICKY, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 153, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTSTICKYW, 133, 155, 47, 9, 0x0020
    AUTOCHECKBOX    "Enable dismiss window hotkey", IDC_HOTDISMISSEN, 10, 166, 130, 10
    LTEXT           "Hotkey", IDC_STATIC, 22, 180, 32, 10
    CONTROL         "DismissHot", IDC_HOTDISMISS, "msctls_hotkey32", 0x0 |
                    WS_BORDER | WS_TABSTOP, 55, 178, 76, 12
    AUTOCHECKBOX    "+ WIN key", IDC_HOTDISMISSW, 133, 180, 47, 9, 0x0020
END

IDD_PROPPAGE_EXPERT DIALOG 0, 0, 150, 150
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Advanced Options", IDC_STATIC, 4, 5, 202, 106
    LTEXT           "On desktop change preserve:", IDC_STATIC, 10, 16, 120, 10
    COMBOBOX        IDC_PRESORDER, 22, 27, 80, 45, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX    "Release focus on desktop change", IDC_FOCUS,                10,  42, 125, 10
    AUTOCHECKBOX    "Hide minimized windows on desktop change", IDC_MINIMIZED,   10,  53, 155, 10
    AUTOCHECKBOX    "Invert Up/Down", IDC_INVERTY,                               10,  64, 70,  10
    AUTOCHECKBOX    "Hide system tray icon", IDC_DISPLAYICON,                    10,  75, 80,  10
    AUTOCHECKBOX    "Remember sticky state throughout session", IDC_PERMSTICKY,  10,  86, 150, 10
    AUTOCHECKBOX    "Assign popped-up hidden window to current desktop", IDC_HWINPOPUP, 10, 97, 180, 10

    GROUPBOX        "Workarounds", IDC_STATIC, 4, 114, 202, 69
    AUTOCHECKBOX    "Force refresh after desktop change", IDC_REFRESH,           10, 125, 130, 10
    AUTOCHECKBOX    "Enable taskbar detection", IDC_TASKBARDETECT,               10, 136, 100, 10
    AUTOCHECKBOX    "Enable alternative hiding method for tricky windows", IDC_TRICKYSUPPORT, 10, 147, 180, 10
    AUTOCHECKBOX    "Enable XP themed taskbar support", IDC_XPSTYLETASKBAR,      10, 158, 130, 10
    AUTOCHECKBOX    "Treat a raised hidden window as a pop-up", IDC_POPUPRHWIN,  10, 169, 150, 10
END

IDD_PROPPAGE_ABOUT DIALOG 0, 0, 150, 150
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        vwVIRTUAWIN_NAME_VERSION, IDC_STATIC, 4, 5, 202, 91, 0x0300
    ICON            IDI_VIRTUAWIN, IDC_STATIC, 95, 16, 20, 20
    LTEXT           "Copyright (c) 1999-2005 Johan Piculell", IDC_STATIC, 35, 40, 150, 8
    LTEXT           "Copyright (c) 2006 VirtuaWin", IDC_STATIC, 35, 50, 150, 8
    LTEXT           vwVIRTUAWIN_EMAIL, IDC_MAILTO, 50, 60, 190, 8, 0x0100
    LTEXT           "Latest version, info, source, etc. visit:", IDC_STATIC, 35, 72, 150, 8
    LTEXT           "http://virtuawin.sourceforge.net/", IDC_HTTP, 50, 82, 190, 10, 0x0100
    GROUPBOX        "License", IDC_STATIC, 4, 99, 202, 140, 0x0300
    EDITTEXT        IDC_LICENSE, 10, 110, 190, 125, ES_MULTILINE | ES_READONLY |NOT WS_TABSTOP | NOT WS_BORDER
END

IDD_PROPPAGE_MODULES DIALOG 0, 0, 150, 150
STYLE WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Module List", IDC_STATIC, 4, 5, 202, 133
    LISTBOX         IDC_MODLIST, 10, 16, 190, 100, LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_MODCONFIG, 10, 120, 40, 14
    PUSHBUTTON      "Reload",    IDC_MODRELOAD, 55, 120, 40, 14
    PUSHBUTTON      "Enable/Disable",  IDC_MODDISABLE, 100, 120, 60, 14
END
IDR_MENU1 MENU
BEGIN
    POPUP "emty"
        BEGIN
        MENUITEM "Setup", ID_SETUP
        MENUITEM "Gather", ID_GATHER
        MENUITEM "Help", ID_HELP
        MENUITEM "Disable", ID_DISABLE
        MENUITEM SEPARATOR
        MENUITEM "Exit", ID_EXIT
        MENUITEM SEPARATOR
        MENUITEM "Next", ID_FORWARD
        MENUITEM "Previous", ID_BACKWARD
        END
END
